@inherits LayoutComponentBase

<div class="page">
    <main>
        <div class="top-row px-4 text-bg-secondary">
            <AuthorizeView>
                <Authorized>
                    <div class="hstack flex-row-reverse gap-3">
                        <div class="p-2">@context.User.Identity?.Name</div>
                        <div class="vr"></div>
                    </div>
                </Authorized>
            </AuthorizeView>
        </div>

        <article class="conten vh-100">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>
