@inherits LayoutComponentBase
@using Microsoft.AspNetCore.Hosting;
@using Microsoft.Extensions.Hosting;
@inject IWebHostEnvironment Env

<div class="page">
    <main>
        <div class="top-row px-4 text-bg-secondary">
            <AuthorizeView>
                <Authorized>
                    <div class="hstack flex-row-reverse gap-3">
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                @context.User.Identity?.Name!
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="/logout">Sign out</a></li>
                            </ul>
                        </div>
                        <div class="vr"></div>
                    </div>
                </Authorized>
            </AuthorizeView>
        </div>

        <article class="conten vh-100">
            @Body
        </article>
    </main>
</div>

@if (Env.IsDevelopment())
{
    <div id="blazor-error-ui" data-nosnippet>
        An unhandled error has occurred.
        <a href="." class="reload">Reload</a>
        <span class="dismiss">🗙</span>
    </div>
}