KAFKA_SERVER=kfk.1step2job.ai:9092

DB_URL=jdbc:postgresql://db.1step2job.ai:5432/ostjdb
DB_USER=ostjsvc
DB_PASSWORD=ostjsvc!

SMTP_ADDRESS=mail.privateemail.com
SMTP_PORT=587
SMTP_USESSL=True
EMAIL_ACCOUNT_NAME=support@1step2job.ai
EMAIL_ACCOUNT_PASSWORD=0uc@H88PpxBofVWx

EMBEDDING_TRESHHOLD=0.03
MATCH_TRESHHOLD=8
