@page "/resume/upload"
@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.AspNetCore.Authorization
@using System.Security.Claims
@attribute [Authorize]
@rendermode InteractiveServer
@inject HttpClient HttpClient
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager Navigation

<PageTitle>Home</PageTitle>

<div class="container vh-100 d-flex justify-content-center align-items-center">
    <div class="row g-5 justify-content-center  w-100">
        <div class="col-sm-8 mb-3 d-flex alight-items-stretch">
            <div class="card w-100">
                <h5 class="card-header">Let's start form here</h5>
                <div class="card-body">
                    <p class="card-text">Please upload your resume add we will start form here</p>
                    <EditForm Model="@this" OnValidSubmit="HandleFileUpload">
                        <InputFile OnChange="OnInputFileChange" class="form-control mb-3"
                            accept=".pdf,.docx,.doc,.txt" />
                        @if (errorMessage != null)
                        {
                            <div class="alert alert-danger">@errorMessage</div>
                        }
                        <ActionButton Caption="Upload" InActionCaption="Uploading..." IsInAction="@processing" IsDisabled="@(!isFileSelected)" type="submit" class="btn btn-primary"/>
                    </EditForm>
                </div>
            </div>
        </div>
    </div>
</div>


@code {
    IBrowserFile? selectedFile;
    bool isFileSelected = false;
    int personId = 0;
    int profileId = 0;
    string? errorMessage;
    bool processing = false;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();

        if (authState.User.Identity != null)
        {
            personId = int.Parse(authState.User.FindFirst(ClaimTypes.PrimarySid)?.Value!);
        }
    }

    private class PersonInfo
    {
        public int Id { get; set; }
        public string? Name { get; set; }
        public string? Email { get; set; }
    }


    private void OnInputFileChange(InputFileChangeEventArgs e)
    {
        selectedFile = e.File;
        isFileSelected = selectedFile != null;
        errorMessage = null;
    }

    private async Task HandleFileUpload()
    {
        if (selectedFile != null)
        {
            try
            {
                using var content = new MultipartFormDataContent();
                using var stream = selectedFile.OpenReadStream(maxAllowedSize: 1024 * 1024 * 5); // 5 MB limit
                var fileContent = new StreamContent(stream);
                fileContent.Headers.ContentType = new System.Net.Http.Headers.MediaTypeHeaderValue(selectedFile.ContentType);
                content.Add(fileContent, "file", selectedFile.Name);
                processing = true;

                var response = await HttpClient.PostAsync($"/api/resume/upload/{personId}", content);

                if (response.IsSuccessStatusCode)
                {
                    profileId = await response.Content.ReadAsAsync<int>();
                    Navigation.NavigateTo($"/profile/{profileId}");
                }
                else
                {
                    errorMessage = $"Error: {response.ReasonPhrase}";
                }
                processing = false;
            }
            catch (Exception ex)
            {
                errorMessage = $"Error: {ex.Message}";
            }
        }
        else
        {
            errorMessage = "No file selected.";
        }
    }
}